@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    font-family: 'Share Tech Mono', monospace;
}

body {
    background-image: url(imagens/background1.jpg);
    background-size: cover;
}

main {
    background-color: #000000cb;
    width: 700px;
    margin: auto;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 5px 5px 15px;
}

#foto {
    text-align: center;
}

#redes {
    text-align: center;
}

#perfil {
    width: 250px;
}

h1 {
    color: #FC4B00;
    font-size: 40px;
    text-shadow: 1px 1px 10px #FC4B00;
    text-align: center
}

h2 {
    color: #FC4B00;
}

li {
    color: #ffffff;
    font-size: 18px;
}

a {
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
}

.destaque > p {
    display: none;
}

.destaque:hover > p {
    display:contents;
    font-size: 16px;
    color: #ffffff;
    background-color: #FC4B00;
}

.destaque {
    background-color: #FC4B00;
    padding: 2px;
    border-radius: 10px;
}